<p style="color: green"><%= notice %></p>

<%= render @equipe %>

 <% @equipe.mecanicos.each do |mecanico| %>
      <li class=""><%= link_to mecanico.nome , mecanico %></li>
    <% end %>


<div>
  <%= link_to "Edit this equipe", edit_equipe_path(@equipe) %> |
  <%= link_to "Back to equipes", equipes_path %>

  <%= button_to "Destroy this equipe", @equipe, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
