<div style="margin-left: 200px; padding: 15px;">
 <div class="container mt-4">
  <h1 class="mb-4">Nova Peca</h1>

  <%= simple_form_for @peca, html: { class: 'd-flex flex-column' } do |form| %>
    <div class="mb-3">
      <%= form.input :name, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
    </div>

    <div class="mb-3">
      <%= form.label :valor, class: 'form-label' %>
      <%= form.number_field :valor, class: 'form-control' %>
    </div>

    <div class="ps-3">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  <% end %>

  <div class="mt-3">
    <%= link_to "Voltar", pecas_path, class: 'btn btn-secondary' %>
  </div>
</div>


</div>