<div style="margin-left: 200px; padding: 15px;">

  <h1>Editing servico</h1>

  <%= simple_form_for @servico do |form| %>


    <%= form.input :tipoDeServico %>
    <%= form.number_field :valor %>
    <%= form.submit %>
  <% end %>
  <br>

  <div>
    <%= link_to "Show this servico", @servico %> |
    <%= link_to "Back to servicos", servicos_path %>
  </div>
</div>