<h1>New Servico</h1>

<%= simple_form_for @servico do |form| %>
  <div class="d-flex flex-col">
    <%= form.association :car, collection: Car.all, label_method: lambda { |car| "#{car.modelo} - #{car.description}" }, value_method: :id, include_blank: true %>
    <%= form.input :tipoDeServico %>
    <%= form.label :valor, style: "display: block" %>
    <%= form.number_field :valor %>
    <div class="ps-3">      
      <%= form.submit %>
    </div>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back to servicos", servicos_path %>
</div>