<div style="margin-left: 200px; padding: 15px;">

<p style="color: green"><%= notice %></p>

<%= render @servico %>
<h1>Cliente: <%= @car.oficina.first_name %></h1>
<%= render @car %>
<h2>Pecas:</h2>
  <% @servico.pecas.each do |peca| %>
    <li><%= peca.name %></li>
    <li>valor:<%= peca.valor %></li>
  <% end %>

<div>
  <%= link_to "Edit this servico", edit_servico_path(@servico) %> |
  <%= link_to "Back to servicos", servicos_path %>

  <%= button_to "Destroy this servico", @servico, method: :delete %>
</div>
</div>