<div id="<%= dom_id oficina %>">
  <p>
    <strong>First name:</strong>
    <%= oficina.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= oficina.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= oficina.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= oficina.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= oficina.twitter %>
  </p>

</div>
