<div id="<%= dom_id oficina %>" class="pe-5">
  <p>
    <strong>First name:</strong>
    <%= oficina.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= oficina.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= oficina.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= oficina.phone %>
  </p>



</div>
