<div style="margin-left: 200px; padding: 15px;">
  <p style="color: green"><%= notice %></p>

  <%= render @oficina %>

  <div>
    <%= link_to "Editar Cliente", edit_oficina_path(@oficina) %> |
    <%= link_to "Voltar", oficinas_path %>

    <%= button_to "Excluir cliente", @oficina, method: :delete %>
  </div>
</div>