<div class="card p-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">
    </h5>
    <p class="card-text"><strong>Description: </strong><%= car.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> <strong>Modelo:</strong>
    <%= car.modelo %></li>
    <li class="list-group-item"> <strong>Marca:</strong>
    <%= car.marca %></li>
    <li class="list-group-item"><strong>Ano:</strong>
    <%= car.ano %></li>
    <li class="list-group-item"><strong>Placa:</strong>
    <%= car.placa %></li>
  </ul>
</div>