<%= form_with(model: car) do |form| %>
  <% if car.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div>
    <%= form.label :modelo, style: "display: block" %>
    <%= form.text_field :modelo, class:"ps-2 rounded" %>
  </div>

  <div>
    <%= form.label :marca, style: "display: block" %>
    <%= form.text_field :marca %>
  </div>

  <div>
    <%= form.label :ano, style: "display: block" %>
    <%= form.number_field :ano %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :placa, style: "display: block" %>
    <%= form.text_field :placa %>
  </div>
  <a>
  <strong>Cliente</strong>
  <%= collection_select(:car, :oficina_id, Oficina.all, :id, :first_name, prompt: true) %>
</a>
  <strong>Equipe</strong>
<%= collection_select(:car, :equipe_id, Equipe.all, :id, :nome, prompt: true) %>



  <div>
    <%= form.submit %>
  </div>
<% end %>
